:root   {
    /* color */
    --primary:#F7C600; 
    --gray1:#A4A4A4;
    
        /* margin */
        --sectionM:188px;
        --partM:160px;
        --h3M:120px;
    
        /* text */
    }
   